.checkoutproduct{
    display: flex;
    padding: 20px;
    margin: 20px 0px;
    font-weight: bold;
}

.checkoutproduct__info{
    padding-left: 12px;
}

.checkoutproduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    color: #111;
    padding: 2px;
}

.checkoutproduct__rating{
    display: flex;
}

.checkoutproduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}