.header{
    height:65px;
    display:flex;
    background-color: blue;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 100;
}

.header__logo{
    width:100px;
    margin: 0 20px;
    margin-top: 16px;
    object-fit: contain;
}

.header__search{
    display: flex;
    flex:1;
    align-items: center;
    border-radius: 16px;
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width:100%
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
  }